.left-box {
    min-width: 780px;
}

.product {
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 40px;
    margin: 40px 0px 40px 14px;
}

.product-img {
    min-width: 130px;
}

.product-img img {
    width: 130px;
    height: 150px;
    border: 1px solid rgb(211, 211, 211);
    margin-left: -14px;
}

.product-title {
    min-width: 150px;
    margin-top: 40px;
}

.product-title p:nth-child(1) {
    min-width: 150px;
    font-size: 13px;
}

.product-title p:nth-child(2) {
    font-size: 11px;
    color: rgb(136, 136, 136);
}

.product-price {
    max-width: 90px;
    margin: 0px 20px 0px 20px;
}

.product-price p {
    max-width: 90px;
    font-size: 20px;
    color: rgb(114, 114, 114);
    margin-top: 56px;
}

.product-qty {
    max-width: 50px;
    padding: 0px;
    margin: 62px 0px 0px 10px;
}

.product-qty p {
    font-size: 12px;
}

.product-input {
    position: relative;
    max-width: 70px;
}

.product-input form input {
    max-width: 70px;
    text-align: center;
    padding: 7px 25px 7px 10px;
    margin: 52px 0px 0px -38px;
    border: none;
    background-color: rgb(233, 233, 233);
}

.product-input i {
    color: rgb(160, 160, 160);
}

.product-input i:hover {
    color: #333;
    cursor: pointer;
}

.product-bold-price {
    max-width: 90px;
    margin-left: 40px;
}

.product-bold-price p {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: rgb(18, 179, 104);
    margin-top: 56px;
}

.product-del-icon i {
    color: #ddd;
}

.product-del-icon i:hover {
    color: rgb(18, 179, 104);
    cursor: pointer;
}

.back {
    position: relative;
    max-width: 150px;
    padding: 0px;
    margin: 0px 282px 20px 30px;
}

.back i {
    color: #ddd;
}

.back p {
    font-size: 12px;
    padding: 0px;
    margin-left: 30px;
}

.back:hover p {
    color: rgb(18, 179, 104);
    cursor: pointer;
}

.back:hover i {
    color: rgb(18, 179, 104);
    cursor: pointer;
}

.clear {
    position: relative;
    max-width: 150px;
    padding: 0px;
    margin: 0px 0px 20px 30px;
}

.clear i {
    color: #ddd;
}

.clear p {
    font-size: 12px;
    padding: 0px;
}

.clear:hover i {
    color: rgb(18, 179, 104);
    cursor: pointer;
}

.clear:hover p {
    color: rgb(18, 179, 104);
    cursor: pointer;
}

.update {
    position: relative;
    max-width: 150px;
    padding: 0px;
    margin: 0px 0px 20px 70px;
}

.update i {
    color: #ddd;
}

.update p {
    font-size: 12px;
    padding: 0px;
}

.update:hover i {
    color: rgb(18, 179, 104);
    cursor: pointer;
}

.update:hover p {
    color: rgb(18, 179, 104);
    cursor: pointer;
}

.right-box {
    max-width: 320px;
    height: 868px;
    border-left: 3px solid rgb(211, 211, 211);
    padding-left: 40px;
    margin-bottom: 40px;
}

.estimate {
    border-bottom: 1px solid rgb(211, 211, 211);
    max-width: 260px;
}

.estimate-title p {
    font-size: 17px;
    font-weight: bold;
}

.estimate-info p {
    font-size: 13px;
    color: rgb(114, 114, 114);
}

.estimate-country label {
    font-size: 13px;
    margin: 0px;
}

.estimate-country select {
    font-size: 13px;
    padding: 12px 0px 12px 20px;
    margin: 10px 0px 20px 0px;
    min-width: 260px;
}

.estimate-code label {
    font-size: 13px;
    margin: 0px;
}

.estimate-code form input {
    font-size: 13px;
    padding: 12px 0px 12px 20px;
    margin: 10px 0px 20px 0px;
    min-width: 260px;
    border: 1px solid rgb(211, 211, 211);
}

.estimate-btn form input {
    font-size: 13px;
    padding: 10px;
    margin: 10px 0px 40px 0px;
    min-width: 260px;
    background-color: white;
    color: black;
    border: 2px solid rgb(160, 160, 160);
}

.estimate-btn form input:hover {
    background-color: #333;
}

.note {
    border-bottom: 1px solid rgb(211, 211, 211);
    max-width: 260px;
    margin-bottom: 40px;
}

.note p:nth-child(1) {
    font-size: 17px;
    font-weight: bold;
    padding-top: 40px;
}

.note p:nth-child(2) {
    font-size: 13px;
    color: rgb(114, 114, 114);
}

.note textarea:nth-child(3) {
    width: 260px;
    height: 120px;
    margin-bottom: 40px;
}

.subtotal p:nth-child(1) {
    font-size: 12px;
    font-weight: bold;
}

.subtotal p:nth-child(2) {
    font-size: 20px;
    padding-left: 100px;
    margin-top: -7px;
}

.ship-hand p:nth-child(1) {
    min-width: 171px;
    font-size: 12px;
    font-weight: bold;
}

.ship-hand p:nth-child(2) {
    max-width: 50px;
    font-size: 20px;
    padding-left: 74px;
    margin-top: -7px;
}

.total p:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}

.total p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    color: rgb(18, 179, 104);
    padding-left: 84px;
    margin-top: -7px;
}

.proceed-btn {
    position: relative;
}

.proceed-btn form input {
    font-size: 13px;
    padding: 10px;
    padding-left: 40px;
    margin: 10px 0px 40px 0px;
    min-width: 260px;
    background-color: rgb(18, 179, 104);
    color: white;
    border: none;
}

.proceed-btn form input:hover {
    background-color: #333;
}
